transformers>=4.0.0
sentence-transformers~=4.1.0
pandas~=2.2.3
scikit-learn~=1.6.1
numpy~=2.2.6
optuna~=4.3.0
rank_bm25~=0.2.2
datasets>=1.0.0
Flask~=3.1.1
faiss-gpu-cu11
llama-cpp-python
diskcache
flask-bcrypt~=1.0.1
flask-cors~=6.0.0
flask-jwt-extended~=4.7.1
pymongo~=4.13.0
torch~=2.7.0
pytest~=8.4.1
rank-bm25~=0.2.2
Flask-RESTful~=0.3.10
pydantic~=2.11.7
llama_cpp_python~=0.2.90
